* {
  margin: 0;
  padding: = 0;
  box-sizing: border-box; 
}
body{
  overflow:hidden;
  font-family:'Segoe UI',sans-serif;
  color:#ffe9d6;
}

#bg-video{
  position:fixed;
  right:0;
  left:0;
  min-width:100%;
  min-height:100%;
  object-fit: cover;
  z-index: -2;
}
